<table style="width:100%">
    <tr>
        <td class="tile">
            <div style="padding:10px">
                Equipment
            </div>
        </td>
    </tr>
    <tr>
        <td class="tile" (click)="overlay.setArmor()">
            <div style="padding:10px">
                Armor
            </div>
        </td>
    </tr>
    <tr>
        <td class="tile">
            <div style="padding:10px">
                Skills
            </div>
        </td>
    </tr>
    <tr>
        <td class="tile">
            <div style="padding:10px">
                Perk Decks
            </div>
        </td>
    </tr>
</table>