@font-face {
    font-family: 'Padaloma';
    src:url('assets/fonts/padaloma/Padaloma.ttf.woff') format('woff'),
        url('assets/fonts/padaloma/Padaloma.ttf.svg#Padaloma') format('svg'),
        url('assets/fonts/padaloma/Padaloma.ttf.eot'),
        url('assets/fonts/padaloma/Padaloma.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'XXII';
    src:url('assets/fonts/xxii/XXII-DONT-MESS-WITH-VIKINGS-HARDCORE.ttf.woff') format('woff'),
        url('assets/fonts/xxii/XXII-DONT-MESS-WITH-VIKINGS-HARDCORE.ttf.svg#XXII-DONT-MESS-WITH-VIKINGS-HARDCORE') format('svg'),
        url('assets/fonts/xxii/XXII-DONT-MESS-WITH-VIKINGS-HARDCORE.ttf.eot'),
        url('assets/fonts/xxii/XXII-DONT-MESS-WITH-VIKINGS-HARDCORE.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

h1 {
  color: deepskyblue;
  font-family: Padaloma;
  font-size: 250%;
}

h2 {
    color: deepskyblue;
    font-family: Padaloma;
}

body {
  padding: 20px;
  background: #222;
  color: #fff;
  font-family: Padaloma;
}

.alternating:nth-child(even) {
    background-color:rgba(0, 0, 0, 0.5);
}