<h1>{{title}}</h1>

<table style="width:100%">
    <tr>
        <td style="width:50%">
            <h3>Currently selected armor: {{player.armor.name}}</h3>
        </td>
        <td>
            <h2>Player stats:</h2>
            <!--<player-stats [player]="player"></player-stats>-->
        </td> 
    </tr>
    <tr>
        <td>
            <armor-selection [selected]="player.armor"
                             (selection)="setSelectedArmor($event)">
            </armor-selection>
        </td>
        <td>
            <armor-detail [armor]="player.armor"></armor-detail>
        </td>
    </tr>
</table>