<center><h1>{{title}}</h1></center>

<table style="width:100%">
    <tr>
        <td style="width:20%">
            <build-stats [build]="build"></build-stats>
        </td>
        <td style="width: 50%">
            <armor-selection [selected]="build.armor"
                             (selection)="build.armor = $event">
            </armor-selection>
        </td>
        <td style="width: 30%">
            <build-configuration [build]="build"></build-configuration>
        </td>
    </tr>
</table>