<center><h1>Payday 2 Skill Builder</h1></center>

<table style="width:100%">
    <tr>
        <td style="width:20%; height:50%">
            <build-stats [build]="build"></build-stats>
        </td>
        <td style="width: 50%" rowspan="2">
            
        </td>
        <td style="width: 30%" rowspan="2">
            <build-configuration [build]="build" 
                                 [overlay]="overlay">
            </build-configuration>
        </td>
    </tr>
    <tr>
        <td>

        </td>
    </tr>
</table>

<div *ngIf="overlay.showOverlay" class="overlay">
    <armor-selection *ngIf="overlay.showArmor"
                     [selected]="build.armor"
                     (selection)="build.armor = $event">
    </armor-selection>
    <span class="backButton" (click)="overlay.setEmpty()">Back</span>
</div>