.overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.85);
    z-index:9998;
    color:white;
}

.backButton {
    position:absolute;
    right:30px;
    bottom:20px;
    z-index:9999;
    color:deepskyblue;
    font-size:200%;
    cursor:pointer;
}