<table>
    <tr>
        <td colspan="2" style="align-content: center">
            <skill [skill]="skillTree.tier_4"
                   [info]="skillInfo">
            </skill>            
        </td>
    </tr>
    <tr>
        <td>
            <skill [skill]="skillTree.tier_3_l"
                   [info]="skillInfo">
            </skill>
        </td>
        <td>
            <skill [skill]="skillTree.tier_3_r"
                   [info]="skillInfo">
            </skill>
        </td>
    </tr>
    <tr>
        <td>
            <skill [skill]="skillTree.tier_2_l"
                   [info]="skillInfo">
            </skill>
        </td>
        <td>
            <skill [skill]="skillTree.tier_2_r"
                   [info]="skillInfo">
            </skill>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="align-content: center">
            <skill [skill]="skillTree.tier_1"
                   [info]="skillInfo">
            </skill>
        </td>
    </tr>
</table>

