<table style="width:100%">
    <tr>
        <td class="tile">
            <div style="padding:10px">
                Primary
            </div>
        </td>
    </tr>
    <tr>
        <td class="tile">
            <div style="padding:10px">
                Secondary
            </div>
        </td>
    </tr>
    <tr>
        <td class="tile">
            <div style="padding:10px">
                Melee
            </div>
        </td>
    </tr>
    <tr>
        <td class="tile">
            <div style="padding:10px">
                throwable
            </div>
        </td>
    </tr>
</table>